.item {
    border: 1px solid black;
    border-radius: 10px;
    padding: 12px;
    width: 100px;
  }
  .avatar {
    margin-bottom: 8px;
  }
  .name {
    font-size: 26px;
  }
  .status {
    font-size: 18px;
  }
  .isOnline {
    color: #008002;
  }
  .isOffline {
    color: #ff2600;
  }